<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="cmmi-toolPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>cz.strmik.cmmitool.entity.User</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <!-- no 2nd level cache  -->
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <!-- 2nd level cache
            <property name="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.SingletonEhCacheProvider" />
            <property name="hibernate.cache.provider_configuration" value="/ehcache.xml" />
            <property name="hibernate.cache.use_second_level_cache" value="true" />
            <property name="hibernate.generate_statistics" value="true" />
            <property name="hibernate.cache.use_structured_entries" value="true" />
            -->
      <!-- database setup -->
      <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
      <property name="hibernate.databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <!-- connection to database -->
      <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/cmmi-tool"/>
      <property name="hibernate.connection.password" value="cmmi"/>
      <property name="hibernate.connection.username" value="cmmi"/>
      <!-- other database setup -->
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.showSql" value="true"/>
      <property name="generateDdl" value="true"/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="showSql" value="true"/>
      <property name="generateDdl" value="true"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
